# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.dunmanifestin-palette'
'name': 'DunmanifestinPalette'
'fileTypes': [ 'pal' ]
'patterns': [
  {
    'match': '\\[.+?\\]'
    'name': 'variable.swatch.dn'
  }
  {
    'match': '^(\\|\\w+)$'
    'name': 'entity.name.type.palette.dn'
  }
  {
    'match': '\\n'
    'name': 'constant.character.escape.newline.dn'
  }
  {
    'match': '^(\\d+?)(@)'
    'name': 'occurence.dn'
    'captures':
      '1':
        'name': 'storage.modifier.occurence.digit.dn'
      '2':
        'name': 'keyword.operator.occurence.separator.dn'
  }

]
